.header {
    padding: 1rem 0 3rem;
}

.title {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}



.navItem {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.navItem:hover {
    color: coral;
    font-weight: bold;
}
.activeNavItem {
    color: coral;
    font-weight: bold;
}
.navList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}
